<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>JOBGDCDownload</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBGDCDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BEISTDDatasets</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.BEISTDDatasets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBRunMBatch</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBRunMBatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BEIproperties</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.BEIproperties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Batchdata</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.Batchdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMatrix</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.UploadMatrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadBatch</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.UploadBatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBnew</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBnew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBstatus</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBSTDData</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBSTDData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBlist</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBdelete</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBdelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBnext</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBnext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBupdate</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBdownload</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBdownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBwsurl</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBwsurl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthUpdate</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.AuthUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthOut</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.AuthOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthUser</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.AuthUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MBatchConfig</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.MBatchConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JOBinfo</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.job.JOBinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadManifest</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.UploadManifest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RBNConfig</servlet-name>
        <servlet-class>edu.mda.bioinfo.bei.servlets.RBNConfig</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BEISTDDatasets</servlet-name>
        <url-pattern>/BEISTDDatasets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BEIproperties</servlet-name>
        <url-pattern>/BEIproperties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBnew</servlet-name>
        <url-pattern>/JOBnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBGDCDownload</servlet-name>
        <url-pattern>/JOBGDCDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Batchdata</servlet-name>
        <url-pattern>/Batchdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBRunMBatch</servlet-name>
        <url-pattern>/JOBRunMBatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMatrix</servlet-name>
        <url-pattern>/UploadMatrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadBatch</servlet-name>
        <url-pattern>/UploadBatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBstatus</servlet-name>
        <url-pattern>/JOBstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBSTDData</servlet-name>
        <url-pattern>/JOBSTDData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBlist</servlet-name>
        <url-pattern>/JOBlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBdelete</servlet-name>
        <url-pattern>/JOBdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBnext</servlet-name>
        <url-pattern>/JOBnext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBupdate</servlet-name>
        <url-pattern>/JOBupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBdownload</servlet-name>
        <url-pattern>/JOBdownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBwsurl</servlet-name>
        <url-pattern>/JOBwsurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthUpdate</servlet-name>
        <url-pattern>/AuthUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthOut</servlet-name>
        <url-pattern>/AuthOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthUser</servlet-name>
        <url-pattern>/AuthUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MBatchConfig</servlet-name>
        <url-pattern>/MBatchConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JOBinfo</servlet-name>
        <url-pattern>/JOBinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadManifest</servlet-name>
        <url-pattern>/UploadManifest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RBNConfig</servlet-name>
        <url-pattern>/RBNConfig</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>ConstraintForLDAP</display-name>
        <web-resource-collection>
            <web-resource-name>RedirectLoginPage</web-resource-name>
            <description>RedirectLoginPage</description>
            <url-pattern>/AuthUpdate</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>login</description>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>ConstraintForLDAP</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login.html?failed=true</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>a user</description>
        <role-name>*</role-name>
    </security-role>
</web-app>
